body{
margin: 0;
margin: 0; 
background-color: black;   
}
p{
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 60px;
}
.inbox{
    color: black;
    text-align: center;
}

#content{
   display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;;
    background-color: #fff;
    border-radius: 20px;
    border-top: #FFD700 solid;
    margin: 100px
  
  
  
  
    
    

}
.done{
    border-radius: 8px;
   border-width: 400px #6c757d;
   border-style:double;
   width: 800px;
   height: 40px;
    border-top: #FFD700 solid;
   
}













