body{
margin: 0;
margin: 0; 
  
}
#BG{
background-color: rgb(2, 2, 26); 
}
#head{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 60px;
}
.inbox{
 display: flex;
 justify-content: center;
 font-size: 50px;
font-family: ;
padding-top: 1px;
 
}

#content{
   display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
font-weight: lighter;
    background-color: hsl(180, 18%, 93%);
    border-radius: 20px;
    border-top: #ee7008 solid;
    border-left: #ee7008 solid 20px ;
    margin: 10px 10px;
    padding: 14px;
    padding-left: 50px;
   
}
#RELIGION{
   border-radius: 20px;
  border-width: 400px #6c757d;
  border-style:double;
  width: 300px;
  height: 30px;
   border-top: #ee7008 solid;
}

#container{
   display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
font-weight: lighter;
    background-color: hsl(180, 18%, 93%);
    border-radius: 20px;
    border-top: #ee7008 solid;
    border-right: #ee7008 solid 20px ;
    margin: 10px 10px;
    padding: 50px;
    padding-left: 50px;

}

.done{
    border-radius: 20px;
   border-width: 400px #6c757d;
   border-style:double;
   width: 300px;
   height: 30px;
    border-top: #ee7008 solid;
   
}
.submit{
       border-radius: 20px;
  border-width: 400px #6c757d;
  border-color: #ee7008;
  border-style:double;
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: #ee7008;
}
#role{
   border-radius: 20px;
  border-width: 400px #6c757d;
  border-style:double;
  width: 300px;
  height: 30px;
   border-top: #ee7008 solid;
}
.navi{
    display: flex;
    justify-content: flex-end;
    margin: 10px 10px;
    gap: 15px;
 align-items: center;
padding-top: 20px;

}
.navi a{
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.navi a:hover{
    text-decoration: underline;
}












