body{
    margin: 0;
    padding: 0;
}

table{
   /* border: 1px solid black; */
   border-collapse: collapse;
   width: 50%;

}
th,td{
    /* border: 1px solid black; */
    padding: 15px;
    text-align: center;
    vertical-align: bottom;
    border-bottom: 1px solid black
}
tr:nth-child{
    background-color: #efefef;
}
th{
    background-color: #4caf50;
    color: white;
}


#container{
    width: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
}
th:hover{
    background-color: aqua;
    font-size: 35px;
}